---
import IndexVideos from './IndexVideos.astro';
import VideosCardFallback from './VideosCardFallback.astro';
---

<section
  id='indexVideos'
  class='absolute top-28 right-0 flex h-full w-[var(--nav-width)] [transition:width_.3s_ease]'
>
  <div class='h-fit w-full max-w-full grid grid-cols-[repeat(auto-fill,minmax(312px,1fr))] p-6 px-[16px] justify-center items-start'>
    <IndexVideos defer>
      <VideosCardFallback />
      <VideosCardFallback />
      <VideosCardFallback />
      <VideosCardFallback />
      <VideosCardFallback />
    </IndexVideos>
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
    <VideosCardFallback />
  </div>
</section>