@import "tailwindcss";

@font-face {
  font-family: Roboto;
  src: url('/Roboto.ttf');
}

@theme {
  --color-primary-dark: #111111;
  --color-primary-content-darK: white;
  --color-footer: #1a1a1a;
  
  --breakpoint-ml: 792px;
  --breakpoint-ms: 703px;
  --breakpoint-xs: 501px;

  --color-gradient-start: #FF0033;
  --color-gradient-end: #F50057;
  --color-gradient: linear-gradient(to right, var(--color-gradient-start), var(--color-gradient-end));
  --color-pink-start: color-mix(in srgb, white 30%, #FF0033);
  --color-pink-end: color-mix(in srgb, white 30%, #F50057);
  --color-pink-gradient: linear-gradient(to right, var(--color-pink-start), var(--color-pink-end));
  --color-red: #FF0033;
  --color-red-bg: color-mix(in srgb, white 6%, #FF0033 6%);
  --color-red-btn: color-mix(in srgb, white 20%, black 20%, #FF325B);
  --color-red-light: #FFAABB;
  --color-selected: #FFAABB24;
  --color-unselected: #B8B8B8;
  --color-link: #51a2ff;

  --container-navbar: calc(100% - 240px);
}

@custom-variant touch {
  @media (pointer: coarse) {
    @slot;
  }
}

@custom-variant mobile {
  &:where(.is-mobile-ua *) {
    @slot;
  }
}

@custom-variant tablet {
  &:where(.is-tablet-ua *) {
    @slot;
  }
}

@custom-variant laptop {
  &:where(.is-laptop-ua *) {
    @slot;
  }
}

:root {
  font-family: Roboto, "Inter", ui-sans-serif, system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  margin: 0;

  @apply bg-white dark:bg-primary-dark;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

html {
  scrollbar-gutter: stable;
}

h1 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
