---
import Header from "@/components/Header.astro";

interface Props {
  title?: string;
  path?: string;
}

const { title, path } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} -` : ""} YouTube</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  </head>
  <body
    data-path={path ?? ""}
    class="h-screen w-screen flex flex-col m-0 overflow-y-auto overflow-x-hidden bg-primary [scrollbar-gutter:stable]"
    data-color-scheme="dark"
  >
    <Header />
    <main id='main' class="h-fit max-w-full w-full overflow-hidden z-0">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: Roboto;
    src: url("/Roboto.ttf");
  }

  :root {
    color-scheme: dark light;
    font-family: Roboto, "Arial", sans-serif, system-ui;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    --nav-width: calc(100% - 240px);
  }
</style>
